# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files
*.tfvars
*.tfvars.json

# Exclude specific sensitive files
*.pem

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override directories
example_override/

# Include plan files
*.tfplan
.terraform.lock.hcl
